@import '../../colors.scss';

.ns-groups-page {
  margin: auto 1%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;

    .nav {
      flex-grow: 1;
      flex-wrap: nowrap;
      margin-right: 8px;
      overflow: hidden;
      font-size: 1.4em;
      font-weight: 400;

      span:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    button {
      margin-right: 8px;

      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: 768px) {
    & {
      margin: auto 8%;
    }
  }

  @media screen and (min-width: 992px) {
    & {
      margin: auto 16%;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin: auto 24%;
    }
  }

  .ns-list-item {
    .ns-list-item-info-person {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        
        > span:last-child {
          font-size: 0.7em;
        }
    }

    .ns-list-item-info-group {
      flex-grow: 1;
      cursor: pointer;

      i {
        margin-right: 8px;
      }
    }

    button:hover {
      color: $lightYellow;
    }
  }

  .ns-btn-primary {
    background-color: $lightYellow;
    border: none;
  
    &:hover,
    &:active,
    &:focus {
      background-color: $darkYellow;
    }
  }
}